{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<h1>{{ product.name }}</h1>
<div>{{ product.description }}</div>
<p>Цена: {{ product.price }} сом</p>
<div>Осталось: {{ product.qty }}</div>
<div>Название натегории: {{ product.category.name }}</div>
<div>Описание категории: {{ product.category.description }}</div>
<div>Просмотров: {{ product.views_qty }}</div>
{% if product.costumer_views %}
<div>Уникальные просмотры:  {{ product.costumer_views.count }}</div>
    {% if product.photo %}
<img src="/media/{{ product.photo }}" alt="" height="250px">
    {% endif %}
    <a class="btn btn-warning" href="{% url 'product-update' product.id %}">Изменить</a>
{% endif %}

{% endblock %}